html {
  display: block;
}

body {
  margin: 0;
  font-weight: 300;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app-box1 {
  min-height: 100vh;
  width: 100%;
  color: white;
  transition: background-color 0.5s ease-in-out;
  padding-bottom: 12px;
  box-sizing: border-box;
  padding-top: env(safe-area-inset-top);
}

.site-div {
  padding: 0px 12px;
  max-width: 620px;
  margin: auto;
}

.site {
  text-align: center;
}

.timer1 {
  max-width: 480px;
  margin: auto;
}

.timer0 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0px 30px;
  margin-bottom: 20px;
  width: 100%;
}

.timer__menu {
  padding-top: 20px;
  /* display: inline-flex;
  justify-content: center;
  text-align: center;
  width: 100%; */
}

.timer-menu-btn {
  padding: 4px 16px;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
}

/* .timer-display {
  display: inline-block;
  width: 100%;
  font-size: 120px;
  font-weight: bold;
} */

.settings-div {
  background-color: rgba(0, 0, 0, 0.4);
  pointer-events: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  z-index: 2147483647;
  /* display: none; */
  transition: 0.2s ease-in;
  overflow: hidden scroll;
  padding: 48px 0px 58px;
  box-sizing: border-box;
}

/* .app {
  background-color: rgb(186, 73, 73);
  min-height: 100vh;
  width: 100%;
  color: white;
  transition: background-color 0.5s ease-in-out;
  padding-bottom: 12px;
  box-sizing: border-box;
}


.main {
  padding: 0px 12px;
  max-width: 620px;
  margin: auto;
  text-align: center;
} */

.line-under-navbar {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.timer-box {
  display: flex;
  justify-content: center;
}

.timer__buttons {
  width: 100%;
  position: relative;
}

.timer__button--start-active {
  box-shadow: none !important;
  transform: translateY(6px);
}

.timer__button--next {
  width: 28px;
  height: 28px;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 15%;
  top: 50%;
  opacity: 1;
  cursor: pointer;
  transition: 0.2s ease-out;
}

.timer__button--next:hover {
  opacity: 0.8;
}

.timer__button--next img {
  width: 28px;
  height: 28px;
}
